<script type="text/javascript">
    $(function(){
        elenco_password(true);
        $("[name='riga_pwd']").focus();
        
        var id = $("main").attr("data-pwd-id");
        if(id !== undefined){
            var p = query("select * from password where id_password = '"+id+"' limit 1","single");
            $("[name='riga_pwd']").val(p.nome);  

            var url = p.url?escapeHtml(cripto(p.url,1,global_pwd()),1):"";
            var username = p.username?escapeHtml(cripto(p.username,1,global_pwd()),1):"";
            var password = p.password?escapeHtml(cripto(p.password,1,global_pwd()),1):"";
            var dettagli = p.dettagli?escapeHtml(cripto(p.dettagli,1,global_pwd()),1):"";

            $("[name='url']").val(url);            
            $("[name='username']").val(username);            
            $("[name='password']").val(password);            
            $("[name='dettagli']").val(dettagli);

            pwdSecure(password,"#secPwd");

            $("#tot_pwd").html(countPwd(password));

        }else{
            genera_password();
        }

        $("[name='password']").on("keyup",function(e){
            pwdSecure(e.target.value,"#secPwd");
            $("#tot_pwd").html(countPwd(e.target.value));
            
        });

    });

    function save_password(){
        var id = $("main").attr("data-pwd-id");
        
        var nome = escapeHtml($("[name='riga_pwd']").val());
        var url = escapeHtml($("[name='url']").val());
        var username = escapeHtml($("[name='username']").val());
        var password = escapeHtml($("[name='password']").val());
        var hash_pwd = pwdHash(password);
        var dettagli = escapeHtml($("[name='dettagli']").val());

        url = cripto(url,0,global_pwd());
        username = cripto(username,0,global_pwd());
        password = cripto(password,0,global_pwd());
        dettagli = cripto(dettagli,0,global_pwd());

        if(id == undefined){

            id = query("insert into password (nome, url, username, password, hash_pwd, dettagli, data_creazione) values ('"+nome+"','"+url+"','"+username+"','"+password+"','"+hash_pwd+"','"+dettagli+"','"+now()+"') ");

            crealog("Password creata",id);

        }else{

            query("update password set nome = '"+nome+"', url = '"+url+"', username = '"+username+"', password = '"+password+"', hash_pwd = '"+hash_pwd+"', dettagli = '"+dettagli+"', data_modifica = '"+now()+"' where id_password = '"+id+"'");

            crealog("Password modificata",id);

        }

        avviso("Modifiche salvate","success");
        view_password(id);
    }

    function genera_password(){
        var pwd = generaPwd();
        $("[name='password']").val(pwd);
        pwdSecure(pwd,"#secPwd");        
        $("#tot_pwd").html(countPwd(pwd));

    }

</script>

<div class="p-2">

    <div class="input-group mt-1 mb-2">
        <div class="input-group-prepend">
            <button tabindex="-1" type="button" class="btn btn-secondary" onclick="copy_field('url')"><i class="fas fa-link"></i></span></button>
        </div>
        <input type="text" class="form-control" name="url" tabindex="0">
        <div class="input-group-append">
            <button tabindex="-1" type="button" class="btn btn-info" onclick="copy_field('url')"><i class="fas fa-globe"></i></span></button>
        </div>
    </div>

    <div class="input-group mt-1 mb-2">
        <div class="input-group-prepend">
            <button tabindex="-1" type="button" class="btn btn-secondary" onclick="copy_field('username')"><i class="fas fa-user"></i></span></button>
        </div>
        <input type="text" class="form-control" name="username" tabindex="0">
    </div>

    <div class="input-group mt-1 mb-2">
        <div class="input-group-prepend">
            <button tabindex="-1" type="button" class="btn btn-secondary" onclick="copy_field('password')"><i class="fas fa-lock"></i></span></button>
        </div>
        <div id="tot_pwd" class="badge badge-secondary" style="position: absolute; z-index: 1; top:10px; right: 50px"></div>
        <input type="text" class="form-control" name="password" tabindex="0">
        <div class="input-group-append">
            <button tabindex="-1" type="button" class="btn btn-success" onclick="genera_password()"><i class="fas fa-key"></i></span></button>
        </div>
    </div>

    <div class="mb-2" id="secPwd"></div>

    <textarea class="form-control" name="dettagli" style="height: 300px"></textarea>

    <button onclick="save_password()" type="button" class="btn btn-success btn-lg w-100 d-block mt-1 mb-2"><i class="fas fa-save mr-2"></i>Salva password</button>
    

</div>