<script type="text/javascript">
    $(function(){
        render();
        pwdSecure("","#score");
        $("[name='password_nuova']").on("keyup",function(e){
            pwdSecure(e.target.value,"#score");
        });
    });

    function render(){
        $("[name='password_attuale']").focus();
    }

    function salva_pwd_master(){
        var pwd_attuale = $("[name='password_attuale']").val();
        var pwd_nuova = $("[name='password_nuova']").val();
        var pwd_conferma = $("[name='password_conferma']").val();

        if(!pwd_attuale || !pwd_nuova || !pwd_conferma){
            //CONTROLLO POPOLAZIONE CAMPI
            avviso("Tutti i campi sono obbligatori");
            return;
        
        }else if(pwdCreate(pwd_attuale) != setting("pwd_global")){
            //CONTROLLO PASSWORD ATTUALE
            avviso("La password attuale non è corretta");
            return;

        }else if(pwdCreate(pwd_nuova) != pwdCreate(pwd_conferma)){
            //CONTROLLA PASSWORD NUOVA E CONFERMA SIANO UGUALI
            avviso("La nuova password è diversa da quella di conferma");
            return;
        
        }else{
            //MODIFICA CODIFICA DELL'INTERO DATABASE
            loading("Modifica in corso");
            var all = query("select * from password where eliminato = 0","multi");
            if(all){
                all.forEach(function(row){
                    //PRELEVO INFO DB
                    var username = "";
                    var password = "";
                    var dettagli = "";

                    var url = cripto(row.url,1,pwd_attuale);
                    if(row.username) username = cripto(row.username,1,pwd_attuale);
                    if(row.password) password = cripto(row.password,1,pwd_attuale);
                    if(row.dettagli) dettagli = cripto(row.dettagli,1,pwd_attuale);

                    //CRIPTO LE INFO CON LA NUOVA PASSWORD
                    url = cripto(url,0,pwd_nuova);
                    username = cripto(username,0,pwd_nuova);
                    password = cripto(password,0,pwd_nuova);
                    dettagli = cripto(dettagli,0,pwd_nuova);

                    //MODIFICO IL RECORD SUL DB
                    query("update password set url = '"+url+"', username = '"+username+"', password = '"+password+"', dettagli = '"+dettagli+"' where id_password = '"+row.id_password+"' limit 1");                   
                });
            }

            // //AGGIORNAMENTO SESSIONE ATTUALE
            global_pwd(pwd_nuova);

            // //AGGIORNAMENTO SETTING CON LA NUOVA PASSWORD
            var pwd_nuova = pwdCreate(pwd_nuova);
            query("update setting set value = '"+pwd_nuova+"' where name = 'pwd_global' limit 1");
            
            avviso("Password master modificata con successo","success");
        }

    }

</script>

<div class="p-2">

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width:170px">Password attuale</span>
      </div>
      <input type="password" class="form-control" name="password_attuale">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width:170px">Nuova password</span>
      </div>
      <input type="password" class="form-control" name="password_nuova">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width:170px">Conferma password</span>
      </div>
      <input type="password" class="form-control" name="password_conferma">
    </div>

    <div id="score" class="mb-2"></div>

    <button type="button" class="btn btn-success btn-lg w-100" onclick="salva_pwd_master()">Salva nuova password master</button>

</div>