<script type="text/javascript">
    $(function(){

        if(!setting("pwd_global")) $("#avviso_login").html("Imposta password master");

        $("[name='password']").focus();
        $("[name='password']").on('keypress',function(e){
            if(e.which == 13) login();
        });
    });
</script>

<div class="p-2">

    <div class="texst-center">
        <img class="d-block m-auto" style="width:300px" src="./assets/IMG/logo.png">
    </div>

    <div class="m-2 text-center" style="font-size: 24px" id="avviso_login">
        Inserisci la password
    </div>

    <div class="input-group input-group-lg m-auto" style="width: 300px">
      <input type="password" class="form-control" name="password">
      <div class="input-group-append">
        <button class="btn btn-info w-100 mb-2" onclick="login()"><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>

</div>