<script type="text/javascript">
    $(function(){
        elenco_password(true);
        var id = $("main").attr("data-pwd-id");
        if(id !== undefined){
            var p = query("select * from password where id_password = '"+id+"' limit 1","single");
            $("#tasto_edit").attr("onclick","edit_password("+id+")");
            $("[name='riga_pwd']").val(p.nome);            
            
            var url = p.url?escapeHtml(cripto(p.url,1,global_pwd()),1):"";
            var username = p.username?escapeHtml(cripto(p.username,1,global_pwd()),1):"";
            var password = p.password?escapeHtml(cripto(p.password,1,global_pwd()),1):"";
            var dettagli = p.dettagli?escapeHtml(cripto(p.dettagli,1,global_pwd()),1):"";

            $("[name='url']").val(url);            
            $("[name='username']").val(username);            
            $("[name='password']").val(password);            
            $("[name='dettagli']").val(dettagli);  
            
            crealog("Password consultata",id);      
            pwdSecure(password,"#secPwd");

            $("#tot_pwd").html(countPwd(password));

            var diff = date_diff(now(),p.data_creazione);
            $("#data_creazione strong").html(italyDate(p.data_creazione,1)+" ("+diff+" giorni fa)");
            
            if(p.data_modifica!=null){
                var diff = date_diff(now(),p.data_modifica);
                $("#data_modifica strong").html(italyDate(p.data_modifica,1)+" ("+diff+" giorni fa)");
            }else{
                $("#data_modifica").remove();
            }

        }
    });

    function show_password(){
        var pwd = $("[name='password']");
        if(pwd.attr("type")=="password"){
            pwd.attr("type","text");
            pwd.parent().find(".input-group-append button").html('<i class="fas fa-eye-slash"></i>');
        }else{
            pwd.attr("type","password");
            pwd.parent().find(".input-group-append button").html('<i class="fas fa-eye"></i>');
        }
    }

    function go_to_site(){
        var id = $("main").attr("data-pwd-id");
        var url = $("[name='url']").val();
        if(url){
            crealog("Apertura link sito web",id);
            open_url(url);
        }
    }

</script>

<div class="p-2">

    <button id="tasto_edit" type="button" class="btn btn-success btn-lg w-100 d-block mt-1 mb-2">Modifica password</button> 

    <div class="input-group mt-1 mb-2">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-secondary" onclick="copy_field('url')"><i class="fas fa-link"></i></span></button>
        </div>
        <input type="text" class="form-control" name="url" readonly>
        <div class="input-group-append">
            <button type="button" class="btn btn-info" onclick="go_to_site()"><i class="fas fa-globe"></i></span></button>
        </div>
    </div>

    <div class="input-group mt-1 mb-2">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-secondary" onclick="copy_field('username')"><i class="fas fa-user"></i></span></button>
        </div>
        <input type="text" class="form-control" name="username" readonly>
    </div>

    <div class="input-group mt-1 mb-2">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-secondary" onclick="copy_field('password')"><i class="fas fa-lock"></i></span></button>
        </div>
        <div id="tot_pwd" class="badge badge-secondary" style="position: absolute; z-index: 1; top:10px; right: 50px"></div>
        <input type="password" class="form-control" name="password" readonly>
        <div class="input-group-append">
            <button type="button" class="btn btn-info" onclick="show_password()"><i class="fas fa-eye"></i></span></button>
        </div>
    </div>
    <div id="secPwd" class="mb-2"></div>

    <textarea class="form-control" name="dettagli" style="height: 270px" readonly></textarea>

    <div class="small" id="data_creazione">Data creazione: <strong></strong></div>
    <div class="small" id="data_modifica">Data modifica: <strong></strong></div>

</div>